footer {
    z-index: 10;
    max-height: fit-content;
    width: 100%;
    border-top: 1px solid var(--light-blue);
    background: var(--grey);
}

footer h3 {
    margin-bottom: 5%;
}


/* styling for footer content */

.main-footer {
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    padding-bottom: 2.5%;
    height: 100%;
    width: 80%;
}


/* styling of column one */

.main-footer-text .info {
    margin: 3% 0%;
}

.main-footer-text .icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer-text .icon-container a {
    height: 100%;
    width: 20%;
    margin-right: 1.25%;
    cursor: pointer;
}

.main-footer-text .icon-container a:hover {
    opacity: .8;
}


/* styling of site map column*/

.main-footer-site-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-footer-site-map .site-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer-site-map .site-nav a {
    margin: 2.5% 0%;
}


/* styling of contact number */

.main-footer-contact {
    display: flex;
    flex-direction: column;
}

.main-footer-contact a {
    margin: 2.5% 0%;
}


/* footer copywright styling */

.footer-copywright {
    border-top: 1px solid var(--light-blue);
    padding-top: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}