@media (max-width: 950px) {
    main .main-image {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    main .main-text {
        max-width: 80%
    }
    .timeline-container::after {
        content: none;
        top: 0;
        left: 0;
        transform: translateX(33.25px);
    }
    .timeline-container ul {
        width: 80%;
        margin: 0% auto;
    }
    .timeline-container ul li {
        width: 100%;
        margin-bottom: 8%;
    }
    .timeline-container ul li .circle {
        width: 20px;
        height: 20px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .timeline-container ul li .circle::after {
        width: 10px;
        height: 10px;
    }
    .timeline-container ul li:nth-child(odd) {
        text-align: left;
        float: none;
        clear: none;
        transform: translateX(0);
    }
    .timeline-container ul li:nth-child(odd) .item-title {
        margin-left: none;
    }
    .timeline-container ul li:nth-child(even) {
        transform: translateX(0);
        float: none;
        clear: none;
    }
    .timeline-container ul li:nth-child(odd) .circle {
        left: 0;
        transform: translate(-48.25px, -100%);
    }
}

@media (max-width: 768px) {
    main .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .main-text {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    .timeline-container::after {
        top: 0;
        left: 0;
        transform: translateX(9.75px);
    }
    .timeline-container ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timeline-container ul li p {
        font-size: .8em;
        line-height: 1.5em;
        text-align: justify;
    }
}

@media (max-width: 500px) {
    main .container {
        display: flex;
        flex-direction: column;
    }
    main .main-image {
        width: 250px;
        height: 250px;
    }
    .timeline-container ul {
        width: 100%;
        margin: 0% auto;
    }
    .timeline-container ul li .circle {
        display: none;
    }
    .timeline-container ul li .date {
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    main .main-image {
        width: 200px;
        height: 200px;
    }
    .timeline-container ul li .date {
        font-size: .6em;
    }
    .timeline-container ul li p {
        font-size: .7em;
    }
}